<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
    Check me out on <a href="http://www.linkedin.com/in/tiffanywilliamsphd">Linkedin</a>,
    Github <a href="http://www.github.com/Tiffany8">,
    or Twitter <a href="http://www.twitter/TWilliamsPhD">.
    If you'd like to learn Rails, I'd recommend the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>.
</p>
